.user_card {
  width: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px gray;
  margin: 0 auto;
  padding: 20px 5px 5px 5px;
}
.user_info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user_img {
  width: 200px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  background-color: lightgray;
}
.user_name {
  color: rgb(80, 76, 76);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.23em;
  letter-spacing: 0.03em;
  padding: 10px;
}
.user_info {
  color: rgb(80, 76, 76);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.23em;
  letter-spacing: 0.03em;
  padding: 5px;
}

.user_stats {
  display: flex;
  padding-top: 20px;
}
.user_stat_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100%) / 3);
  border: 2px solid lightgray;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.23em;
  letter-spacing: 0.03em;
  background-color: darkgrey;
  color: black;
  padding: 10px 0;
  border-radius: 20px;
}
